@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

@keyframes bounce2 {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(-3px);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }

  25% {
    stroke: #DE3E35;
  }

  50% {
    stroke: #F7C223;
  }

  75% {
    stroke: #1B9A59;
  }

  100% {
    stroke: #4285F4;
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes loading {
  0% {
    cy: 10;
  }

  25% {
    cy: 3;
  }

  50% {
    cy: 10;
  }
}

* {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



:root {
  /* --current-theme: light; */
  --color-bgr-main: hsl(224, 73%, 97%);
  --color-bgr-main-hover: hsl(222, 73%, 90%);
  --color-bgr-secondary: var(--color-white);

  --color-primary: #0ed095;
  --color-secondary: #4a4a4a;
  --color-icon-background: #171717;
  --color-icon-text: var(--color-white);
  --color-black-white: #000;
  --color-white-black: #fff;
  --color-white: #fff;
  --color-white-hover: #def9e5;
  --color-grey-light: #686868;
  --color-box-shadow: rgba(60, 64, 67, 0.3);
  --color-box-shadow2: rgba(0, 0, 0, 0.35);
  --font-large: 5em;
  --font-medium: 4em;
  --font-small: 1.5em;
  --font-very-small: 0.75em;
  --border-width-small: 1px;
  --border-radius: 15px;
  --body-width: 400px;
  --content-width: 370px;
  --margin-width: 15px;
  --permission-switch-width: 30px;
  --permission-switch-height: 13px;
  --permission-switch-margin: 2.4px;
  --color-glass-effect: rgba(255, 255, 255, 0.4)
}

body {
  margin: 0px;
  height: 475px;
  width: var(--body-width);
  text-rendering: optimizeLegibility;
  background-color: var(--color-bgr-main);
  transition: background-color ease-out 400ms;
}

span,
div {
  cursor: default;
}

.bounce {
  animation: bounce2 2s ease infinite;
}

.page-load {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.page-load .spinner {
  height: 65px;
  width: 65px;
  animation: rotator 1.4s linear infinite;
}

.page-load .spinner .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

header,
div.content,
footer {
  width: var(--content-width);
  border: 0px solid;
  border-radius: var(--border-radius);
  transition: background-color ease-out 400ms;
}

header,
footer {
  margin: 0px var(--margin-width);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color-bgr-secondary); */
}

header {
  height: 55px;
}

div.content {
  margin: var(--margin-width);
  height: 345px;
  background-color: var(--color-bgr-secondary);
}

footer {
  height: 45px;
}

div.header-left {
  margin-right: auto;
  display: inline-flex;
  align-items: center;
  align-content: center;
  gap: 5px;
}

div.header-right {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  align-content: center;
  gap: 5px;
}

img.app-logo,
span.app-name {
  display: inline;
}

img.app-logo {
  height: 40px;
  width: 43px;
}

span.app-name {
  color: var(--color-primary);
  font-size: var(--font-small);
  font-weight: 500;
  cursor: default;
}

span.avatar,
span.tooltip-switch,
span.theme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0px solid black;
  overflow: hidden;
}

span.theme {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.icon-sun,
.icon-moon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  fill: var(--color-icon-background);
  transition: transform ease-out 400ms;
}

.icon-sun:hover,
.icon-sun:focus,
.icon-moon:hover,
.icon-moon:focus {
  transform: scale(1.2);
}

.wiper {
  position: absolute;
  height: 30px;
  width: 0px;
  border: 0px solid black;
  border-radius: 50%;
  background: var(--color-icon-background);
  transition: width ease-in 400ms;
}

span.tooltip-switch {
  width: 60px;
  height: 30px;
}

.icon-switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  background-color: var(--color-icon-background);
  border-radius: 18px;
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-input:disabled~.switch-label,
.switch-input[disabled]~.switch-label {
  cursor: default;
  background: var(--color-grey-light) !important;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: var(--color-icon-background);
  border-radius: inherit;
  cursor: pointer;
  transition: 0.15s ease-out;
  transition-property: opacity background;
}

.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  transition: inherit;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: var(--color-icon-text);
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: var(--color-white);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked~.switch-label:before {
  opacity: 0;
}

.switch-input:checked~.switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: var(--color-icon-text);
  border-radius: 10px;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); */
  background-image: linear-gradient(to bottom, white 40%, var(--color-icon-text));
  transition: left 0.15s ease-out;
}

.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: var(--color-icon-text);
  border-radius: 6px;
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.02); */
  background-image: linear-gradient(to bottom, #eeeeee, var(--color-icon-text));
}

.switch-input:checked~.switch-handle {
  left: 37px;
  /* box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2); */
}

.switch-green>.switch-input:checked~.switch-label {
  background: var(--color-primary);
}

span.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.icon-no-avatar {
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: var(--color-icon-background);
  transition: transform ease-out 400ms;
}

.icon-no-avatar:hover,
.icon-no-avatar:focus {
  transform: scale(1.2);
}

.user-avatar {
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: transform ease-out 400ms;
}

.user-avatar:hover,
.user-avatar:focus {
  transform: scale(1.2);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

div.website {
  margin-left: 2px;
  margin-right: auto;
}

div.website a {
  text-decoration: none;
  color: var(--color-grey-light);
}

div.website a:hover,
div.website a:focus {
  color: var(--color-primary);
}

div.social-media {
  margin-right: 2px;
  margin-left: auto;
  color: var(--color-secondary);
}

.wrapper {
  margin: 0px;
  display: inline-flex;
  gap: 7px;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: var(--color-bgr-secondary);
  color: var(--color-secondary);
  border-radius: 50%;
  /* margin: 0px 5px; */
  width: 25px;
  height: 25px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 1px var(--color-secondary);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon * {
  cursor: pointer;
}

.wrapper .icon:hover,
.wrapper .icon:focus {
  box-shadow: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 10px;
  color: var(--color-white);
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: var(--color-white);
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip,
.wrapper .icon:focus .tooltip {
  top: -40px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:focus span,
.wrapper .icon:hover .tooltip,
.wrapper .icon:focus .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:focus,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:focus .tooltip,
.wrapper .linkedin:hover .tooltip::before,
.wrapper .linkedin:focus .tooltip::before {
  background: #1877F2;
  color: var(--color-white);
}

.wrapper .telegram:hover,
.wrapper .telegram:focus,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:focus .tooltip,
.wrapper .telegram:hover .tooltip::before,
.wrapper .telegram:focus .tooltip::before {
  background: #1DA1F2;
  color: var(--color-white);
}

.wrapper .mail:hover,
.wrapper .mail:focus,
.wrapper .mail:hover .tooltip,
.wrapper .mail:focus .tooltip,
.wrapper .mail:hover .tooltip::before,
.wrapper .mail:focus .tooltip::before {
  background: #006EBF;
  color: var(--color-white);
}

.wrapper .instagram:hover,
.wrapper .instagram:focus,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:focus .tooltip,
.wrapper .instagram:hover .tooltip::before,
.wrapper .instagram:focus .tooltip::before {
  background: #E4405F;
  color: var(--color-white);
}

.wrapper .github:hover,
.wrapper .github:focus,
.wrapper .github:hover .tooltip,
.wrapper .github:focus .tooltip,
.wrapper .github:hover .tooltip::before,
.wrapper .github:focus .tooltip::before {
  background: #333333;
  color: var(--color-white);
}

.wrapper .youtube:hover,
.wrapper .youtube:focus,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:focus .tooltip,
.wrapper .youtube:hover .tooltip::before,
.wrapper .youtube:focus .tooltip::before {
  background: #CD201F;
  color: var(--color-white);
}

.signed-out {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.app-logo-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 200px;
  /* border: 1px solid black; */
}

.app-full-logo {
  width: 150px;
  height: 180px;
  /* border: 1px solid red; */
}

.app-tagline {
  color: var(--color-secondary);
  /* border: 1px solid black; */
}

.sign-in-button {
  display: flex;
  flex-direction: row;
  position: relative;
  /* gap: 2px; */
  align-items: center;
  border-radius: 25px;
  width: 160px;
  height: 31px;
  cursor: pointer;
  transition: transform ease-out 100ms;
  box-shadow: var(--color-box-shadow) 0px 1px 2px 0px, var(--color-box-shadow) 0px 2px 6px 2px;
  background-color: var(--color-bgr-main);
  /* border: 1px solid black; */
}

.sign-in-button:hover,
.sign-in-button:focus {
  transform: scale(1.05);
}

.google-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border: 1px solid red; */
  background-color: var(--color-white);
}

.google-logo .icon-google {
  margin: auto;
  width: 18px;
  height: 18px;
}

.sign-in-text {
  position: absolute;
  right: 10px;
  color: var(--color-grey-light);
  /* border: 1px solid black; */
}


.signed-in {
  display: none;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.navbar-tab {
  height: 100%;
  width: 25%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  cursor: pointer;
  transition: color ease-out 200ms, border-color ease-out 200ms, transform ease-out 200ms;
}

.navbar-tab:not(.active):hover,
.navbar-tab:not(.active):focus {
  color: var(--color-black-white);
  transform: scale(1.1);
}

.navbar-tab.active {
  color: var(--color-primary);
  cursor: default;
  border-bottom: 1px solid var(--color-primary);
}

.tabs-content-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-content {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  color: var(--color-secondary);
  overflow: hidden;
  /* transition: all ease-out 100ms; */
}

.tab-content.profile {
  gap: 13px;
  justify-content: center;
}

.tab-content.active {
  display: flex;
}

.workspace .no-current-doc {
  height: 100%;
  width: 100%;
  color: var(--color-grey-light);
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.workspace .current-doc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-secondary);
}

.workspace .currently-editing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 50%;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--color-bgr-main);
  /* justify-content: center; */
}

.currently-editing .title {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 10px;
  color: var(--color-black-white);
  /* color: var(--color-primary); */
  background-color: var(--color-bgr-main-hover);
}

.currently-editing .doc {
  display: flex;
  justify-content: left;
  align-items: center;
  /* height: 75%; */
  width: 100%;
}

.doc .document-icon-container {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--color-primary); */
}

.document-icon-container .icon-document {
  width: 80px;
  height: 100px;
  fill: var(--color-primary);
  cursor: pointer;
}

/* .document-icon-container .icon-document:hover,
.document-icon-container .icon-document:focus {
  transform: scale3d(1.1, 1.1, 1.1);
} */

.currently-editing-content .doc-details {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid var(--color-primary); */
}

.label {
  color: var(--color-secondary);
}

.value {
  padding-left: 5px;
  color: var(--color-black-white);
}

button.open-in-docs {
  --color: hsl(218, 88%, 61%);
  margin-top: 10px;
  padding: 5px 10px;
  color: var(--color);
  cursor: pointer;
  border-radius: 999em;
  border: 1px solid var(--color);
  background: var(--color-bgr-secondary);
  transition: transform ease-out 100ms;
}

button.open-in-docs:hover,
button.open-in-docs:focus {
  transform: scale3d(1.03, 1.03, 1.03);
}

.workspace .add-note {
  height: 40%;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--color-primary); */
}

.workspace .add-note .add-note-input {
  width: 90%;
  height: 25px;
  border-radius: 2px;
  text-align: center;
  color: var(--color-black-white);
  border-bottom: 0.5px solid var(--color-secondary);
  background-color: var(--color-bgr-main);
  transition: border ease-out 350ms, color ease-out 350ms;
}

.workspace .add-note .add-note-input:focus {
  border-color: var(--color-black-white);
}

.workspace .add-note .add-note-input:focus::placeholder {
  color: transparent;
}



.workspace .add-note .text-tooltip {
  width: 90%;
  height: 25px;
  position: relative;
  border-radius: 1px;
}

.text-tooltip .submitMessage {
  width: 100%;
  height: 0%;
  z-index: 2;
  position: absolute;
  background-color: var(--color-bgr-main);
  transition: height 100ms ease-out 10ms;
}

.text-tooltip .submitMessage.extend {
  height: 100%;
}

.submitMessage .loadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* opacity: 0; */
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.loadingMessage.show {
  /* opacity: 1; */
  visibility: visible;
}

.submitMessage .loadingMessage .icon-loading {
  fill: #5c86ff;
  margin: 0;
  width: 22px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.icon-loading .loadingCircle {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loading;
  cy: 10;
}

.icon-loading .loadingCircle:nth-child(2) {
  animation-delay: 0.1s;
}

.icon-loading .loadingCircle:nth-child(3) {
  animation-delay: 0.2s;
}

.submitMessage .responseMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* opacity: 0; */
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.responseMessage.show {
  /* opacity: 1; */
  visibility: visible;
}

.submitMessage .responseMessage .icon-success {
  display: inline-block;
  fill: none;
  margin-right: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  color: #5cffa1;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transition: stroke-dashoffset .3s ease-in-out 100ms;
  width: 14px;
}

.submitMessage .responseMessage.show .icon-success {
  stroke-dashoffset: 0;
}

.submitMessage .responseMessage .icon-failure {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: red;
}

.submitMessage .responseMessage .success-block {
  display: flex;
  position: absolute;
  visibility: hidden;
  align-items: center;
}

.submitMessage .responseMessage .failure-block {
  display: flex;
  position: absolute;
  visibility: hidden;
  align-items: center;
}

.submitMessage .responseMessage.show[data-status=success] .success-block {
  visibility: visible;
}

.submitMessage .responseMessage.show[data-status=failure] .failure-block {
  visibility: visible;
}

.text-tooltip .tooltip-button-container {
  /* display: none; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.tooltip-button-container .tooltip-button {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--font-very-small);
  cursor: pointer;
  color: var(--color-secondary);
  background-color: var(--color-bgr-main);
  transition: background ease-out 100ms, color ease-out 100ms, transform ease-out 100ms;
}

.tooltip-button-container .tooltip-button.submit {
  visibility: hidden;
}

.tooltip-button.active {
  color: var(--color-black-white);
  background-color: var(--color-bgr-main-hover);
}

.tooltip-button-container .tooltip-button:not(.submit):hover,
.tooltip-button-container .tooltip-button:not(.submit):focus {
  transform: scaleY(1.16);
}

.tooltip-button-container .tooltip-button:not(:last-child) {
  border-right: 2px solid var(--color-bgr-secondary);
}

.notes-container {
  height: calc(100% - 10px);
  width: calc(100% - 20px);
  border-radius: 10px;
  overflow: hidden;
}

.notes-container .toolbar {
  position: relative;
  height: 12%;
  width: 100%;
  background-color: var(--color-bgr-main-hover);
}

/* .notes-container .toolbar {
  display: flex;
  align-items: center;
} */

.notes-container .toolbar .title {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 100%;
  float: left;
  font-size: small;
  color: var(--color-black-white);
}

.notes-container .toolbar .icons-tray {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
  height: 100%;
  float: right;
}

.toolbar .icons-tray .vertical-bar {
  height: 65%;
  width: 1.5px;
  background-color: var(--color-bgr-secondary);
}

.toolbar .icons-tray .icon-box {
  --size: 23px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--size);
  width: var(--size);
  opacity: 0.2;
  border-radius: 50%;
  transition: all 350ms ease-out;
}

.notes-container:has(.doc-card.selected) .icon-box {
  opacity: 1;
  cursor: pointer;
}

.notes-container:has(.doc-card.selected) .icon-box:not([data-context="new"]):hover,
.notes-container:has(.doc-card.selected) .icon-box:not([data-context="new"]):focus {
  transform: scale(1.1);
  background-color: var(--color-bgr-secondary);
}

.notes-container .icon-box[data-context="new"] {
  opacity: 1;
  cursor: pointer;
}

/* .notes-container .icon-box[data-context="new"]:hover,
.notes-container .icon-box[data-context="new"]:focus {
  transform: scale(1.1);
  background-color: var(--color-primary);
} */

.icons-tray .icon-box .icon {
  --size: 12px;
  height: var(--size);
  width: var(--size);
  fill: var(--color-black-white);
}

.icons-tray .icon-box[data-context="new"] .icon {
  --size: 17px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.icons-tray .icon-box[data-context="new"]:hover,
.icons-tray .icon-box[data-context="new"]:focus {
  transform: scale(1.1);
}

.toolbar .dialog-box {
  --width: 99%;
  --b-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 250px;
  padding: 20px;
  z-index: 400;
  border-bottom: 2px solid var(--color-bgr-secondary);
  border-bottom-left-radius: var(--b-radius);
  border-bottom-right-radius: var(--b-radius);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 250ms;
  background-color: var(--color-glass-effect);
  backdrop-filter: saturate(180%) blur(10px);
}

.toolbar .dialog-box.show {
  transform: scaleY(1);
}

.dialog-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40%;
}

.dialog-box form input:valid {
  border: 1px solid var(--color-primary);
}

.dialog-box .heading {
  display: block;
  width: var(--width);
  font-size: 1.2em;
  color: var(--color-black-white);
}

.dialog-box input {
  display: block;
  padding: 3px 7px;
  width: var(--width);
  height: 25px;
  border-radius: 3px;
  color: var(--color-black-white);
  background-color: var(--color-bgr-main-hover);
}

.dialog-box .buttons {
  --margin: 7px;
  --b-radius: 3px;
  width: var(--width);
}

.dialog-box .buttons .cancel {
  margin-left: var(--margin);
  padding: 2px 7px;
  color: var(--color-white-black);
  cursor: pointer;
  border-radius: var(--b-radius);
  /* box-shadow: var(--color-box-shadow2) 0px 0px 0px 1px; */
  background-color: var(--color-secondary);
  transition: all 350ms;
}

.dialog-box .buttons .cancel:hover {
  transform: scale(1.05);
}

.dialog-box .buttons .submit {
  margin-right: var(--margin);
  padding: 2px 7px;
  color: var(--color-white-black);
  cursor: pointer;
  border-radius: var(--b-radius);
  /* box-shadow: var(--color-box-shadow2) 0px 0px 0px 1px; */
  background-color: var(--color-primary);
  transition: all 350ms;
}

.dialog-box .buttons .submit:hover {
  transform: scale(1.05);
}

.notes-container .docs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  padding-top: 10px;
  padding-inline: 11px;
  gap: 6px;
  height: 88%;
  width: 100%;
  overflow-y: scroll;
  background-color: var(--color-bgr-main);
}

.docs-container .doc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 60px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 350ms ease-out;
}

.docs-container .doc-card:hover,
.docs-container .doc-card:focus {
  transform: scale(1.1);
}

.docs-container .doc-card.selected {
  transform: scale(1.1);
  background-color: var(--color-bgr-secondary);
}

.docs-container .doc-card .icon-document {
  width: 90%;
  cursor: pointer;
  fill: var(--color-bgr-main-hover)
}

.docs-container .doc-card.active .icon-document {
  fill: var(--color-primary);
}

.docs-container .doc-card .doc-name {
  width: 90%;
  height: 1.1em;
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  font-size: smaller;
  text-align: center;
  cursor: pointer;
}

.docs-container .doc-card.active .doc-name {
  color: var(--color-primary)
}

.styles-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  height: calc(100% - 10px);
  width: calc(100% - 20px);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-bgr-main);
}

.styles-sidebar {
  display: inline-flex;
  height: 100%;
  width: 30%;
}

.styles-divider {
  display: inline-block;
  width: 1px;
  height: 80%;
  background-color: var(--color-bgr-secondary);
}

.styles-content {
  height: 100%;
  width: 70%;
}

.styles-sidebar .list {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.styles-sidebar .list::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 100%;
  background-color: var(--color-bgr-main-hover);
}

.styles-sidebar .list .list-item {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 12%;
  position: relative;
  margin-left: 7px;
  padding-left: 7px;
  cursor: default;
}

.styles-sidebar .list .list-item:not(.active) {
  cursor: pointer;
}

.styles-sidebar .list .list-item .highlighter {
  display: inline-block;
  width: 0%;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 999em 999em 0px;
  background: var(--color-bgr-main-hover);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms;
}

.styles-sidebar .list .list-item.active .highlighter {
  transform: scaleX(1);
  /* transform-origin: left; */
  /* transition: transform 100ms; */
}

.styles-sidebar .list .list-item span {
  position: relative;
  color: var(--color-secondary);
  /* transition: transform 0.2s; */
}

/* .styles-sidebar .list .list-item.active {
  border-left: 3px solid var(--color-primary);
} */

.styles-sidebar .list .list-item.active span {
  color: var(--color-black-white);
  /* transform: scale(1.1); */
}

.styles-content {
  position: relative;
}

.styles-content .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
  /* border: none; */
  transition: transform 250ms ease-in-out;
}

.styles-container .icon-container .icon {
  width: 15px;
  aspect-ratio: 1 / 1;
  fill: var(--color-black-white);
}

.styles-container .icon-container #iconClose {
  display: none;
}

.styles-content .icon-container:hover {
  background-color: var(--color-bgr-main-hover);
}

/* .styles-content .icon-container:hover .icon-edit {
  fill: var(--color-white-black);
} */

.styles-content .styles-form {
  /* height: 100%; */
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: transform 350ms ease-in-out,
    opacity 350ms ease-in-out;
}

.styles-content .styles-form {
  top: 80px;
}

.styles-content .styles-form.bullet {
  top: 60px;
}

.styles-content .styles-form:has(fieldset:not(:disabled)) {
  transform: translateY(-10px);
}

.styles-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.styles-content form.active {
  visibility: visible;
  opacity: 1;
}

.styles-form #fontStyles,
.styles-form #bulletStyles {
  margin-left: 5px;
  padding: 2px;
  border-radius: 3px;
  color: var(--color-black-white);
  background-color: var(--color-bgr-main-hover);
}

.styles-form input[type="radio"][name="color"],
.styles-form input[type="radio"][name="highlighter"] {
  --size: 18px;
  appearance: none;
  margin-top: -1px;
  vertical-align: middle;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 2px solid var(--color-bgr-main);
  transition: transform 100ms;
}

/* .styles-form input[type="radio"][name="color"]:not(:checked),
.styles-form input[type="radio"][name="highlighter"]:not(:checked) {} */

.styles-form fieldset:not(:disabled) input[type="radio"][name="color"]:not(:checked):hover,
.styles-form fieldset:not(:disabled) input[type="radio"][name="highlighter"]:not(:checked):hover {
  cursor: pointer;
  transform: scale(1.1);
}

.styles-form input[type="radio"][name="color"]:checked,
.styles-form input[type="radio"][name="highlighter"]:checked {
  outline: 1px solid var(--color-primary);
}

.styles-form input[type="checkbox"][name="bold"],
.styles-form input[type="checkbox"][name="italic"],
.styles-form input[type="checkbox"][name="underline"] {
  --size: 25px;
  appearance: none;
  position: relative;
  height: var(--size);
  width: var(--size);
  margin-right: 20px;
}

.styles-form input[type="checkbox"][name="bold"]::after,
.styles-form input[type="checkbox"][name="italic"]::after,
.styles-form input[type="checkbox"][name="underline"]::after {
  --size: 30px;
  content: attr(data-value);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: var(--size);
  width: var(--size);
  color: var(--color-black-white);
  border-radius: 5px;
  border: 2px solid var(--color-bgr-main);
  background-color: var(--color-bgr-main-hover);
  transition: transform 100ms;
}

.styles-form fieldset:not(:disabled) input[type="checkbox"][name="bold"]:hover::after,
.styles-form fieldset:not(:disabled) input[type="checkbox"][name="italic"]:hover::after,
.styles-form fieldset:not(:disabled) input[type="checkbox"][name="underline"]:hover::after {
  cursor: pointer;
  transform: scale(1.05);
}

.styles-form input[type="checkbox"][name="bold"]:checked::after,
.styles-form input[type="checkbox"][name="italic"]:checked::after,
.styles-form input[type="checkbox"][name="underline"]:checked::after {
  outline: 1px solid var(--color-primary);
}

.styles-form button#reset,
.styles-form button#submit {
  height: 26px;
  width: 62px;
  padding: 3px 7px;
  cursor: pointer;
  border-radius: 5px;
}

.styles-form.active button#reset,
.styles-form.active button#submit {
  transition: all 250ms ease-in-out 100ms;
}

.styles-form fieldset:disabled button#reset,
.styles-form fieldset:disabled button#submit {
  visibility: hidden;
  opacity: 0;
}

.styles-form button#reset:hover,
.styles-form button#submit:hover {
  transform: scale(1.05);
}

.styles-form button#reset {
  color: var(--color-white-black);
  background-color: var(--color-secondary);
}

.styles-form button#submit {
  float: right;
  margin-right: 15px;
  color: var(--color-white-black);
  background-color: var(--color-primary);
}


.profile-avatar {
  --avatar-size: 60px;
  display: inline-flex;
  height: var(--avatar-size);
  width: var(--avatar-size);
  position: relative;
  border-radius: 50%;
  /* border: 1px solid red; */
  /* box-shadow: var(--color-box-shadow2) 0px 30px 90px; */
  transition: transform 350ms ease-in;
}

.profile-avatar::after {
  position: absolute;
  content: "";
  top: calc(-0.1 * var(--avatar-size));
  left: calc(-0.1 * var(--avatar-size));
  z-index: 1;
  width: calc(20% + var(--avatar-size));
  height: calc(20% + var(--avatar-size));
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 50%;
  animation: moveGradient 4s alternate infinite;
}

.profile-avatar .avatar {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: transform 350ms ease-in;
}

.profile-avatar:hover .avatar {
  transform: scale(1.1);
}

.user-details {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  /* align-items: center; */
  width: 90%;
  height: 30%;
  border-radius: 5px;
  background-color: var(--color-bgr-main);
}

.account-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 90%;
  height: 35%;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--color-bgr-main);
}

.account-settings .title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 10px;
  color: var(--color-black-white);
  background-color: var(--color-bgr-main-hover);
}

.account-settings .google-drive-access,
.account-settings .sign-out {
  display: flex;
  align-items: center;
  height: 25px;
  width: 93%;
  margin-bottom: 2px;
  padding-left: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.account-settings .google-drive-access:hover,
.account-settings .sign-out:hover {
  background-color: var(--color-bgr-main-hover);
}

.google-drive-access .label,
.sign-out .label {
  padding-left: 5px;
}

.account-settings .icon-google {
  fill: var(--color-secondary);
  height: 15px;
  width: 15px;
}

.account-settings .icon-sign-out {
  fill: var(--color-secondary);
  height: 16px;
  width: 16px;
}

/* .account-settings .switch {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  width: var(--permission-switch-width);
  height: var(--permission-switch-height);
}

.account-settings .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.account-settings .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.account-settings .slider:before {
  position: absolute;
  content: "";
  height: calc(var(--permission-switch-height) - (var(--permission-switch-margin) * 2));
  width: calc(var(--permission-switch-height) - (var(--permission-switch-margin) * 2));
  left: var(--permission-switch-margin);
  bottom: var(--permission-switch-margin);
  background-color: white;
  transition: .4s;
}

.account-settings input:checked+.slider {
  background-color: var(--color-primary);
}

.account-settings input:checked+.slider:before {
  transform: translateX(calc(var(--permission-switch-width) - var(--permission-switch-height)));
}

.account-settings .slider.round {
  border-radius: 34px;
}

.account-settings .slider.round:before {
  border-radius: 50%;
}

.account-settings .google-drive-access,
.account-settings .all-sites-access {
  display: inline-flex;
  align-items: center;
}
*/

@media (prefers-color-scheme: dark) {
  :root {
    /* --current-theme: dark; */
    --color-secondary: #b4b4b4;
    --color-bgr-main: hsl(0, 0%, 12%);
    --color-bgr-main-hover: hsl(0, 0%, 20%);
    --color-bgr-secondary: #000;
    --color-icon-background: #ffffff;
    --color-icon-text: #cecccc;
    --color-black-white: #fff;
    --color-white-black: #000;
    --color-box-shadow: rgba(195, 191, 188, 0.3);
    --color-box-shadow2: rgba(255, 255, 255, 0.35);
    --color-glass-effect: rgba(0, 0, 0, 0.4)
  }

  .icon-moon {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .icon-sun {
    display: none;
  }
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }

  * {
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
  }
}

/* total width */
.mac-scrollbar::-webkit-scrollbar {
  background-color: inherit;
  width: 4px
}

/* background of the scrollbar except button or resizer */
.mac-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-bgr-main)
}

/* .mac-scrollbar::-webkit-scrollbar-track:hover {
  background-color: var(--color-bgr-main-hover)
} */

/* scrollbar itself */
.mac-scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: none;
}

.mac-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: none;
}

/* set button(top and bottom of the scrollbar) */
.mac-scrollbar::-webkit-scrollbar-button {
  display: none
}

.notification {
  --beforeWidth: 7px;
  --borderRadius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 240px;
  position: absolute;
  bottom: 8px;
  right: -100%;
  color: var(--color-secondary);
  font-size: 0.9em;
  padding-left: var(--beforeWidth);
  background-color: var(--color-bgr-secondary);
  transition: right 350ms ease-in-out;
}

.notification::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: var(--beforeWidth);
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}

.notification[data-status="failure"]::before {
  background-color: red;
}

.notification[data-status="success"]::before {
  background-color: var(--color-primary);
}

.notification.show {
  right: 0;
}