@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



:root {
  /* --current-theme: light; */
  --color-bgr-main: #f3f6fd;
  --color-bgr-secondary: var(--color-white);
  --color-primary: #0ed095;
  --color-secondary: #4a4a4a;
  --color-icon-background: #171717;
  --color-icon-text: var(--color-white);
  --color-hover: #f3f6fd;
  --color-white: #ffffff;
  --color-white-hover: #def9e5;
  --color-grey-light: #b5b5b5;
  --font-large: 5em;
  --font-medium: 4em;
  --font-small: 1.5em;
  --font-very-small: 0.75em;
  --border-width-small: 1px;
  --border-radius: 20px;
  --body-width: 400px;
  --content-width: 370px;
  --margin-width: 15px;
}

body {
  margin: 0px;
  height: 475px;
  width: var(--body-width);
  text-rendering: optimizeLegibility;
  background-color: var(--color-bgr-main);
  transition: background-color ease-out 400ms;
}

header,
div.content,
footer {
  width: var(--content-width);
  border: 0px solid;
  border-radius: var(--border-radius);
  transition: background-color ease-out 400ms;
}

header,
footer {
  margin: 0px var(--margin-width);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color-bgr-secondary); */
}

header {
  height: 55px;
}

div.content {
  margin: var(--margin-width);
  height: 345px;
  background-color: var(--color-bgr-secondary);
}

footer {
  height: 45px;
}

div.header-left {
  margin-right: auto;
  display: inline-flex;
  align-items: center;
  align-content: center;
  gap: 5px;
}

div.header-right {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  align-content: center;
  gap: 5px;
}

img.app-logo,
span.app-name {
  display: inline;
}

img.app-logo {
  height: 40px;
  width: 43px;
}

span.app-name {
  color: var(--color-primary);
  font-size: var(--font-small);
  font-weight: 500;
  cursor: default;
}

span.avatar,
span.tooltip-switch,
span.theme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0px solid black;
  overflow: hidden;
}

span.theme {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.icon-sun,
.icon-moon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  fill: var(--color-icon-background);
  transition: transform ease-out 400ms;
}

.icon-sun:hover,
.icon-moon:hover {
  transform: scale(1.2);
}

.wiper {
  position: absolute;
  height: 30px;
  width: 0px;
  border: 0px solid black;
  border-radius: 50%;
  background: var(--color-icon-background);
  transition: width ease-in 400ms;
}

span.tooltip-switch {
  width: 60px;
  height: 30px;
}

.icon-switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  background-color: var(--color-icon-background);
  border-radius: 18px;
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-input:disabled~.switch-label,
.switch-input[disabled]~.switch-label {
  cursor: default;
  background: var(--color-grey-light) !important;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: var(--color-icon-background);
  border-radius: inherit;
  cursor: pointer;
  transition: 0.15s ease-out;
  transition-property: opacity background;
}

.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  transition: inherit;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: var(--color-icon-text);
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: var(--color-white);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked~.switch-label:before {
  opacity: 0;
}

.switch-input:checked~.switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: var(--color-icon-text);
  border-radius: 10px;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); */
  background-image: linear-gradient(to bottom, white 40%, var(--color-icon-text));
  transition: left 0.15s ease-out;
}

.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: var(--color-icon-text);
  border-radius: 6px;
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.02); */
  background-image: linear-gradient(to bottom, #eeeeee, var(--color-icon-text));
}

.switch-input:checked~.switch-handle {
  left: 37px;
  /* box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2); */
}

.switch-green>.switch-input:checked~.switch-label {
  background: var(--color-primary);
}

span.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.icon-no-avatar {
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: var(--color-icon-background);
  transition: transform ease-out 400ms;
}

.icon-no-avatar:hover {
  transform: scale(1.2);
}

.user-avatar {
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: transform ease-out 400ms;
}

.user-avatar:hover {
  transform: scale(1.2);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

div.website {
  margin-right: auto;
}

div.website a {
  text-decoration: none;
  color: var(--color-grey-light);
}

div.website a:hover {
  color: var(--color-primary);
}

div.social-media {
  margin-left: auto;
  color: var(--color-secondary);
}

.wrapper {
  margin: 0px;
  display: inline-flex;
  gap: 7px;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: var(--color-bgr-secondary);
  color: var(--color-secondary);
  border-radius: 50%;
  /* margin: 0px 5px; */
  width: 25px;
  height: 25px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 1px var(--color-secondary);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover {
  box-shadow: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 10px;
  color: var(--color-white);
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: var(--color-white);
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: var(--color-white);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: var(--color-white);
}

.wrapper .mail:hover,
.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip::before {
  background: #006EBF;
  color: var(--color-white);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: var(--color-white);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: var(--color-white);
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: var(--color-white);
}

.signed-out {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.app-logo-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 200px;
  /* border: 1px solid black; */
}

.app-full-logo {
  width: 150px;
  height: 180px;
  /* border: 1px solid red; */
}

.app-tagline {
  color: var(--color-secondary);
  /* border: 1px solid black; */
}

.sign-in-button {
  display: flex;
  flex-direction: row;
  position: relative;
  /* gap: 2px; */
  align-items: center;
  border-radius: 25px;
  width: 160px;
  height: 31px;
  cursor: pointer;
  transition: transform ease-out 100ms;
  background-color: var(--color-bgr-main);
  /* border: 1px solid black; */
}

.sign-in-button:hover {
  transform: scale(1.05);
}

.google-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border: 1px solid red; */
  background-color: var(--color-white);
}

.icon-google {
  margin: auto;
  width: 18px;
  height: 18px;
}

.sign-in-text {
  position: absolute;
  right: 10px;
  color: var(--color-grey-light);
  /* border: 1px solid black; */
}


.signed-in {
  display: none;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*remove this afterwards */
.signed-in strong {
  color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --current-theme: dark; */
    --color-secondary: #a5a0a0;
    --color-hover: #f2efef;
    --color-bgr-main: #1e1e1e;
    --color-bgr-secondary: #000;
    --color-icon-background: #ffffff;
    --color-icon-text: #cecccc;
  }

  .icon-moon {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .icon-sun {
    display: none;
  }
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }

  * {
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
  }
}

/* .button {
  font: bold 11px system-ui;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #333333;
  border-radius: 2px;
}

#logIn,
#loggedInComponent {
  display: none;
  margin: 0;
  padding: 0px;
}

#logIn {
  position: relative;
  width: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loggedInComponent {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}


.avatarPanel {
}

#popupHeader {
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 10px;
  top: 0px;
  border-bottom: 1px solid var(--accentColor);
  box-shadow: 0 2px 3px gray;
  display: flex;
  position: fixed;
  background-color: white;
  z-index: 100;
}

.brandLogo {
  width: auto;
}

#brandImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#brandImage:hover {
  box-shadow: inset 0px 0px 0px 1px var(--accentColor);
}

.brandName {
  flex: 1.2;
  font-size: medium;
  font-weight: bold;
  padding-top: 2px;
  padding-left: 1px;
}

.logoutButton {
  display: none;
  position: absolute;
  top: 4.5%;
  right: 13%;
  min-width: 15%;
  text-align: center;
  font-weight: bold;
  background-color: white;
  border: 1px solid var(--hoverColor);
  border-radius: 10px;
  padding: 0px;
  background-color: white;
  transition: background-color 0.2s;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: var(--hoverColor);
}

.popupBody {
  position: relative;
  display: flex;
  padding-left: 0;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  place-items: center;
}

#userSignInButton {
  display: flex;
  cursor: pointer;
  border: 1px solid var(--hoverColor);
  border-radius: 5px;
  width: auto;
  transition: 0.5s;
}




#userSignInButton:hover {
  background-color: var(--hoverLight);
}

.headerNote {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 20%;
}

#preSignInFooter {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin-top: 95px;
  bottom: 0px;
}

.footer-wrapper_branding-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: justify;
}

.footer-wrapper_branding-social .facebook {
  display: inline-block;
  background-position: 0px 0px;
  background-image: url("https://media.geeksforgeeks.org/wp-content/cdn-uploads/social_sprites_icons.svg");
  background-size: 100%;
  width: 5px;
  height: 5px;
  margin-left: 5px;
}

.footer-wrapper_branding-social .instagram {
  display: inline-block;
  background-position: 0px -25px;
  background-image: url("https://media.geeksforgeeks.org/wp-content/cdn-uploads/social_sprites_icons.svg");
  background-size: 100%;
  width: 5px;
  height: 5px;
  margin-left: 5px;
}

.footer-wrapper_branding-social .linkedin {
  display: inline-block;
  background-position: 0px -50px;
  background-image: url("https://media.geeksforgeeks.org/wp-content/cdn-uploads/social_sprites_icons.svg");
  background-size: 100%;
  width: 5px;
  height: 5px;
  margin-left: 5px;
}

.footer-wrapper_branding-social .twitter {
  display: inline-block;
  background-position: 0px -75px;
  background-image: url("https://media.geeksforgeeks.org/wp-content/cdn-uploads/social_sprites_icons.svg");
  background-size: 100%;
  width: 5px;
  height: 5px;
  margin-left: 5px;
}

.footer-wrapper_branding-social .youtube {
  display: inline-block;
  background-position: 0px -100px;
  background-image: url("https://media.geeksforgeeks.org/wp-content/cdn-uploads/social_sprites_icons.svg");
  background-size: 100%;
  width: 5px;
  height: 5px;
  margin-left: 5px;
}

.popupbutton {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: medium;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  width: auto;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: var(--accentColor);
}

.popupbutton.newdocadder {
  background-color: var(--accentColor);
  background-size: 200%;
  background-position: left;
  transition: background-color 0.2s;
  animation-iteration-count: infinite;
}

.popupbutton.docappender {
  background-size: 200%;
  background-position: right;
  transition: background-color 0.2s;
  animation-iteration-count: infinite;
}

.popupbutton.newdocadder:hover,
.popupbutton.newdocadder:focus {
  background-color: var(--hoverColor);
  color: black;
}

.popupbutton.docappender:hover,
.popupbutton.docappender:focus {
  background-color: var(--hoverColor);
  color: black;
}


.menu {
  visibility: hidden;
  height: 0px;
}

.menu.adder.active {
  visibility: visible;
  height: auto;
}

.menu.appender {
  display: flex;
  place-items: center;
}

.menu.appender.active {
  visibility: visible;
  height: auto;
}

#spacer {
  height: 200px;
}

#createFolder {
  min-height: 70px;
  width: 70px;
  border: 1px solid var(--accentColor);
  border-radius: 0px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  transition: border-radius 0.3s;
  cursor: pointer;
}

#createFolder:hover {
  border-radius: 10px;
  background-color: var(--createFolderHoverColor);
}

.documentID {
  margin: 5px;
  left: 0;
  right: 0;
}

.autocomplete {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 90%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#popupFooter {
  display: flex;
  flex-direction: row;
  color: green;
  text-align: center;
  font-weight: bold;
  position: fixed;
  border-top: 1px solid var(--accentColor);
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

#createDocumentDiv {
  position: relative;
  padding: 0;
  margin: 0;
  left: 0px;
  width: 300px;
}

#createDocumentDiv:before {
  content: " ";
  position: absolute;
  left: 25px;
  top: 14px;
  width: 2px;
  height: 36px;
  transform: scale(0);
  z-index: 1;
  background: rgb(71, 136, 135);
  transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.active:before {
  transform: scale(1);
  transition-delay: 0.3s;
  animation: 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.5s infinite forwards focus;
}

#documentName {
  border-radius: 36px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 15px;
  top: 5px;
  transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.active #documentName {
  width: 60%;
  padding-left: 15px;
  border-radius: 36px;
  border: 1px solid var(--accentColor);
}

#createDocument {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 15px;
  top: 5px;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--accentColor);
  width: 40px;
  height: 40px;
  transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

#createDocument:after {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  background-image: url("images/icon_plus.png");
  background-size: cover;
  border-radius: 50%;
}

#createDocument:before {
  content: " ";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  right: 0;
  top: 20px;
  transform: scale(1);
  transform-origin: left top;
  transform: translateY(-13px);
  margin: 0 auto;
  background-image: url("images/icon_plus.png");
  background-size: cover;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.8s ease;
}

#but {
  background-image: url("images/icon_plus.png");
  background-size: cover;
}

.active #createDocument {
  transform: translateX(200px);
  border: 1px solid var(--accentColor);
}

.active #createDocument:before {
  transform: translateY(-13px);
}

.focus:before {
  transform: scale(0);
  animation: none;
}

@keyframes focus {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#footerImage {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}


.avatarPanelInner {
  position: fixed;
  display: flex;
  width: 40%;
  top: 12px;
  right: 0px;
}

.avatarPanelInner .profile {
  position: relative;
  height: 40px;
  width: 40px;
  padding: 0px;
  vertical-align: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

#greetUser {
  margin-top: 7%;
}

.avatarPanelInner .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarPanelInner .drop {
  position: absolute;
  top: 95%;
  right: 10px;
  padding: 10px 10px;
  overflow-wrap: break-word;
  background: #ffffff;
  width: 150px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--accentColor);
  border-radius: 10px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.avatarPanelInner .drop.active {
  visibility: visible;
  opacity: 1;
  z-index: 101;
}


.avatarPanelInner .drop h3 {
  width: 100%;
  top: 5px;
  text-align: center;
  font-size: 18px;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  color: #505050;
  line-height: 1.2em;
}

.avatarPanelInner .drop h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 400;
}

.avatarPanelInner .drop ul li {
  list-style: none;
  padding: 10px 0;
  margin-left: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.avatarPanelInner .drop ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.4;
  transition: 0.2s;
}

.avatarPanelInner .drop ul li:hover img {
  opacity: 1;
}

.avatarPanelInner .drop ul li a {
  display: inline-block;
  text-decoration: none;
  color: #858585;
  font-weight: 600;
  transition: 0.5s;
}

.avatarPanelInner .drop ul li:hover a {
  color: var(--accentColor);
  font-weight: 800;
} */